   <nav class="navbar">
      <h1 class="brand">🌟 My Angular App</h1>
      <ul class="nav-links">
        <li><a routerLink="/features" routerLinkActive="active">Fetures</a></li>
        <li><a routerLink="/counter" routerLinkActive="active">Counter</a></li>
        <li><a routerLink="/users" routerLinkActive="active">User List</a></li>
        <li><a routerLink="/pipe" routerLinkActive="active">Pipes</a></li>
         <li><a routerLink="/user" routerLinkActive="active">User</a></li>
         <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
      </ul>
    </nav>